main {
    display: block;
    background-color: #282D35;
    padding: 57px 27px;
    color: #fdfcfc;
    background-image: url("../assets/reactjs-icon.png");
    background-repeat: no-repeat;
    background-position: right 75%;
   
}
.main--title {
    margin: 0;
    margin-left: 27px;
    font-size: 39px;
    letter-spacing: -0.05em;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 39.06px;
    line-height: 47px;

}
.main--fact {
 margin-top: 46px;

}
.main--fact > li {
    max-width: 400px;
    padding-block: 20px;
    line-height: 19px;
}
ul li::marker {
    color: rgb(30, 181, 236);
    font-size: 1.5em;
  }
 